<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <a routerLink="/upload/text">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-primary">Compare text</h4>
            <p class="card-text text-dark">Input two python program for comparison</p>
          </div>
      </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <a routerLink="/upload/file">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-primary">Compare file</h4>
            <p class="card-text text-dark">Upload two python program files for comparison</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <a routerLink="/upload/folder">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-primary">Compare folder</h4>
            <p class="card-text text-dark">Upload two python project for comparison</p>
          </div>
        </div>
      </a>
    </div>

    <!--<div class="col-12 col-sm-6 col-lg-4 mb-4">-->
      <!--<a routerLink="/upload/directory">-->
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <!--<h4 class="card-title text-primary">Compare directory</h4>-->
            <!--<p class="card-text text-dark">Upload a directory of multiple python projects for comparison</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
  </div>
</div>
