<div class="container-fluid">
  <div class="row">
    <div class="col jy-max-width-700 mx-auto">
      <h3>Comparison History</h3>
      <div *ngIf="operations; else elseBlock">
        <div class="table-responsive-sm">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Compare Type</th>
              <th scope="col">Date</th>
              <th scope="col">Initiated By</th>
              <th scope="col">View Details</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let o of operations">
              <td>{{o.operationType}}</td>
              <td>{{o.date}}</td>
              <td>{{o.initiatedBy}}</td>
              <td>
                <a (click)="viewDetail(o)"><i class="fa fa-external-link"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #elseBlock>
        <h4 class="text-info">No comparisons</h4>
      </ng-template>
    </div>
  </div>
</div>
